
html {
    font-family: sans-serif;
}

#menuDiv {
    background-color: gray;
    border: 0.15em solid black;
    border-radius: 4em;
    position: absolute;
}

.iconDiv {
    background-color: white;
    border: 0.15em solid black;
    border-radius: 10px;
    font: lighter;
    position: absolute;
    text-align: center;
}
