div, img, textarea {
    border: 3px dashed black;
    border-radius: 0.5em;
    margin: 25px;
    width: 95%;
}

div, textarea {
    background-color: lightgrey;
    font-size: 2em;
    height: 3em;
    padding: 0.25em;
}

#dropArea {
    font-family: sans-serif;
    text-align: center;
}

img {
    height: 100%;
}
